<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rankings F-ZERO 99</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1 class="text-primary">FZero-99 Training Times Rankings</h1>
    <form th:action="@{'rankings'}" th:object="${chooseRankingDto}" method="get">
        <div class="form-row">
            <div class="form-group col-4">
                <label for="select_track" class="form-label">Select track:</label>
                <select class="form-select" id="select_track" th:field="*{track}">
                    <option th:each="track: ${trackChoices}"
                            th:text="${track.realName}"
                            th:value="${track}">
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr style="font-weight: bold">
                <td>Place</td>
                <td>Track</td>
                <td>Glider</td>
                <td>Total time</td>
                <td>Round 1</td>
                <td>Round 2</td>
                <td>Round 3</td>
                <td>Round 4</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="run, itemstat: ${runsForRanking}">
                <td th:text="${itemstat.count}"></td>
                <td th:text="${run.track.realName}"></td>
                <td th:text="${run.glider.realName}"></td>
                <td th:text="${run.totalTime}"></td>
                <td th:text="${run.round1}"></td>
                <td th:text="${run.round2}"></td>
                <td th:text="${run.round3}"></td>
                <td th:text="${run.round4}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>