<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Submit new times</title>
    <link href="webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <h1>Submit your times here</h1>
    <form th:action="@{'submission/new'}" th:object="${submissionDto}" method="POST">
        <button type="submit" class="btn btn-success">Submit</button>
        <div class="row">
            <div class="col-md-3">
                <label for="track" class="form-label">Track: </label>
                <select id="track" class="form-select" th:field="*{track}">
                    <option th:each="track: ${trackChoices}"
                            th:text="${track.realName}"
                            th:value="${track}">
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="total-time" class="form-label">Total time:</label>
                <input id="total-time" class="form-control" th:field="*{totalTime}" type="number" step="0.01">
            </div>
            <div class="col-md-3">
                <label for="round-1" class="form-label">Round 1:</label>
                <input id="round-1" class="form-control" th:field="*{round1}" type="number" step="0.01">
            </div>
            <div class="col-md-3">
                <label for="round-2" class="form-label">Round 2:</label>
                <input id="round-2" class="form-control" th:field="*{round2}" type="number" step="0.01">
            </div>
            <div class="col-md-3">
                <label for="glider" class="form-label">Glider: </label>
                <select id="glider" class="form-select" th:field="*{glider}">
                    <option th:each="glider: ${gliderChoices}"
                            th:text="${glider.realName}"
                            th:value="${glider}">
                    </option>
                </select>
            </div>
            <!-- For good looking purposes -->
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <label for="round-3" class="form-label">Round 3:</label>
                <input id="round-3" class="form-control" th:field="*{round3}" type="number" step="0.01">
            </div>
            <div class="col-md-3">
                <label for="round-4" class="form-label">Round 4:</label>
                <input id="round-4" class="form-control" th:field="*{round4}" type="number" step="0.01">
            </div>
        </div>
    </form>
</body>
</html>